rest-consumer-manual/target/classes/rest-consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="7070" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="iib.icraftsoft.net" port="6060" doc:name="HTTP Request Configuration"/>
    <flow name="rest-consumerFlow-get-single-user">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/{id}" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="users/{id}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="rest-consumerFlow-get-all-users">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="users" method="GET" doc:name="HTTP"/>
    </flow>
    <flow name="rest-consumerFlow2">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/{id}" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/users/{id}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]"/>
            </http:request-builder>
        </http:request>
    </flow>
</mule>
